$ui-width:750px;
	@function R($px) {
		@return $px/$ui-width*7.5rem;
	}



#navv{
	width:100%;
	height:100%;
	overflow: scroll;

	.er{
		width: 100%;
		position: fixed;
		top: R(108px);
		border-bottom:1px solid #ccc;
		background-color: #FFF;
		z-index: 20;
		.ul{
			width: 100%;
			height: R(76px);
			line-height: R(76px);
			
			.li{
				
				float: left;
				width: 33.3%;
				font-size: 15px;
				text-align: center;
			}

		}	
	}

	.oneul{

		z-index: 20;
		width: 100%;
		background: #fff;
		position: fixed;
		top: R(184px);
		font-size: 12px;
		
		.oneul_li{
			
			font-size: 12px;
			height: R(60px);
			font-size: R(5px);
			padding-top:R(15px);
			padding-left:R(20px);
			border-bottom:1px solid #ccc;
			a{
				color:#171717;
			}
		}
		
	}	

	.twoul{
		z-index: 20;
		width: 100%;
		height: 500px;
		background: #fff;
		position: fixed;
		top: R(186px);
		font-size: 12px;
		overflow: scroll;
		border-bottom: 1px solid #ccc;

		.twoul_li{
			
			font-size: 12px;
			height: R(60px);
			font-size: R(5px);
			padding-top:R(15px);
			padding-left:R(20px);
			border-bottom:1px solid #ccc;
			a{
				color:#171717;
			}
		}
		
	}	

	.threeul{
		z-index: 20;
		display: flex;
		flex-direction: column;
		width: 100%;
		background: #fff;
		position: fixed;
		top: R(186px);
		font-size: 12px;

		.threeul_li{
			flex: 1;
			font-size: 12px;
			height: R(60px);
			font-size: R(5px);
			padding-top:R(15px);
			padding-left:R(20px);
			border-bottom:1px solid #ccc;
			a{
				color:#171717;
			}
		}
		
	}	
	


	
	section{
		width: 100%;
		position:fixed;
		top:R(185px);
		

	}

}


