body{
	background:#fff;
}
#user{
	.q1 .active{
			display:inline-block;
			background:white;
			width:100%;
			color:red;
			height:100%;

		}
		.q1 {
			background:#fff;
			width:50%;
			height:100%;
			display:inline-block;
			font-size:15px;
			line-height:40px;
			text-align:center;
			color:#9b9b9b;
		}
		.q1 a{
			color:#9b9b9b;
		}
}
