$ui-width: 750px;
@function px2rem($px) {
	@return $px/$ui-width*7.5rem;
}

body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input,form,table{
    padding:0;
    margin:0;
}
html,body{
    width: 100%;
    height: 100%;
}
ul,ol,dl,li,dd,dt{
    list-style: none;
}
#app{
	header{
		position: fixed;
		width: 100%;
		height: px2rem(44px);
		background: #f64744;
		
		.left{
			float:left;
		}

		.right{
			float: right;
		}
	}
}