$ui-width:750px;
	@function R($px) {
		@return $px/$ui-width*7.5rem;
	}

// 
// @function px2rem( $px ){
//     @return $px*750/$designWidth/100 + rem; //这句是不是感觉很熟悉 这句其实跟上面的那段js是对应的 
// }
// $designWidth : 750; //如设计图是750

body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input,form,table{
    padding:0;
    margin:0;
}
html,body{
    width: 100%;
    height: 100%;
    
}
ul,ol,dl,li,dd,dt{
    list-style: none;
}
a{
	text-decoration: none;
}
#app{

	header{
		position: fixed;
		top:0;
		width: 100%;
		height: R(88px);
		background: #f64744;
		font-size: 12px;
		line-height: R(88px);
		color: #fff;

		.left{
			float:left;
			margin-left: R(20px);

			.iconfont{
			font-size: 12px;
			margin-left: R(3px)	
			}
		}

		.center{
			float: left;
			margin-left: R(180px);
			font-size:20px;
			color: #fff;
		}

		.right{
			float: right;
			margin-right: R(20px);

			.iconfont{
			font-size: 12px;
			margin-right: R(3px);	
			}
		}

	}

	section{
		padding-top:R(88px);
	}

}