body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input,form,table{
    padding:0;
    margin:0;
}
input{border-style:none}
$ui-width:750px;
	@function R($px) {
		@return $px/$ui-width*7.5rem;
	}

html,body{
    width: 100%;
    height: 100%;
}
ul,ol,dl,li,dd,dt{
    list-style: none;
}
#app{
	header{
		.left{

		}
		
		.right{

		}
	}
}

#container{
		height:200px;
		background:#fff;
		margin-top: R(130px);


}
.con1{width:70%;
		height:R(90px);
	float:left;
	margin-left:R(10px);
	border:1px solid #e7e7e7;
	margin-top:R(20px)
}
.shouji{width:90%;
	height:100%;
	float:left;
	margin-left: 4%;
	}
.yanzheng{width:25%;
			height:R(90px); 
			float:right;
			margin-right:R(10px);
			color:red;
			background:#fff;
			margin-top:R(20px);
			border:1px solid #e7e7e7;


}
.con2{

}
.duanxin{
	width:97%;
	height:R(90px); 
	border:1px solid #e7e7e7;
	margin-top:R(20px);
	margin-left:R(10px);
	padding-left:R(20px);
	box-sizing:border-box;
}

.con{width:97%;
	height:R(90px); 
	border:1px solid #e7e7e7;
	margin-top:R(20px);
	margin-left:R(10px);

}

.con input{width:80%;
		height: 100%;
		float:left;
		margin-left: R(20px)}
.con button{
		width:15%;
		height: 100%;
		float:right;
		background:#fff;

}
.xiugai{width:90%;
		height: R(90px);
		margin-top:R(25px);
		margin-left: 4%;
		background:#f64744;
		border-style:none;


		}





