$ui-width:750px;
	@function R($px) {
		@return $px/$ui-width*7.5rem;
	}


	footer{
		width:100%;
		.up{
			width: 100%;
			height: R(100px);
			border-top:2px solid #e0e0e0;
			border-bottom:2px solid #e0e0e0;
			font-size: 15px;
			background: #fff;
			ul{
				float:left;
				height: 100%;

				li{
					width:R(116px);
					height:R(56px);
					border:2px solid #e0e0e0;
					border-radius: 5px;
					float:left;
					background:#fafafa;
					color:#296da1;
					margin-left: R(20px);
					margin-top: R(21px);
					line-height: R(56px);
					text-align: center;
				}
			}

			p{
				float:right;
				line-height: R(100px);
				margin-right: R(10px);
			}
			span{
				float:right;
				width:R(116px);
				height:R(56px);
				border:2px solid #e0e0e0;
				border-radius: 5px;
				text-align: center;
				margin-top: R(21px);
				line-height: R(56px);
				margin-right: R(20px);
			}
		}

		.down{
			width: 100%;
			height: R(64px);
			background:#f5f5f5;
			font-size: 12px;

			ul{
				float:left;

				li{
					float:left;
					color:#296da1;
					padding:0 12px;
					border-right:1px solid #e0e0e0;
					margin-top: R(12px);
				}
				.lastli{
					border:none;
				}
			}
		}
	}